* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: white;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #ff6f47;
  color: white;
}

.note-form {
  display: flex;
  width: 80%;
  margin: 0 auto 2rem;
  flex-wrap: wrap;
}

.note-text {
  display: inline;
  width: 100%;
  height: 40%;
  resize: none;
  outline: none;
  font-size: 18px;
}

.note-button {
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.note-container {
  padding: 10px;
  background: grey;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.note-list {
  min-width: 30%;
  list-style: none;
}

.filter-notes {
  padding: 1rem;
  margin: 0 auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}

/* Custom Select */
.select {
}

/* Arrow */
.select::after,
.notes::after {
  content: "\25BC";
  position: relative;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
  .select:hover::after {
    transform: scale(1.5);
  }
  */
.note {
  border: 2px solid #ccc;
  background-color: black;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  display: block;
}

.note::after {
  content: "";
  clear: both;
  display: table;
}

.note img {
  width: 90px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.note span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .note {
    text-align: center;
  }
  .note img {
    margin: auto;
    float: none;
    display: block;
  }
}
